<form [formGroup]="form">
  <mat-form-field>
    <mat-label>Level</mat-label>
    <mat-select formControlName="level">
      <mat-option *ngFor="let lvl of levels$ | async" [value]="lvl">
        {{ lvl.name }} (L{{ lvl.level }})
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Level 2</mat-label>
    <input matInput formControlName="level2Filter" [matAutocomplete]="auto2" />
    <mat-autocomplete #auto2="matAutocomplete" [displayWith]="displayFn">
      <mat-option *ngFor="let ou of filtered2$ | async" [value]="ou">{{
        ou.name
      }}</mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Level 3</mat-label>
    <input matInput formControlName="level3Filter" [matAutocomplete]="auto3" />
    <mat-autocomplete #auto3="matAutocomplete" [displayWith]="displayFn">
      <mat-option *ngFor="let ou of filtered3$ | async" [value]="ou">{{
        ou.name
      }}</mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Level 4</mat-label>
    <input matInput formControlName="level4Filter" [matAutocomplete]="auto4" />
    <mat-autocomplete #auto4="matAutocomplete" [displayWith]="displayFn">
      <mat-option *ngFor="let ou of filtered4$ | async" [value]="ou">{{
        ou.name
      }}</mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
