<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Organisation Unit Level</mat-label>
    <mat-select formControlName="level">
      @for ( lvl of levelOptions() ; track lvl.id) {
      <mat-option [value]="lvl">{{ lvl.name }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Region</mat-label>
    <input
      matInput
      formControlName="level1"
      [matAutocomplete]="auto1"
      (input)="filterLevel1Options($event)"
    />
    <mat-autocomplete
      #auto1="matAutocomplete"
      [displayWith]="displayFn"
      requireSelection="true"
    >
      @for ( unit of level1FilteredOptions(); track unit.id) {
      <mat-option [value]="unit">{{ unit.name }}</mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>CHRR</mat-label>
    <input
      matInput
      formControlName="CHRR"
      [matAutocomplete]="auto21"
      (input)="filterCHRROptions($event)"
    />
    <mat-autocomplete
      #auto21="matAutocomplete"
      [displayWith]="displayFn"
      requireSelection="true"
    >
      @for ( unit of CHRRFilteredOptions(); track unit.id) {
      <mat-option [value]="unit">{{ unit.name }}</mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>District</mat-label>
    <input
      matInput
      formControlName="level2"
      [matAutocomplete]="auto2"
      (input)="filterLevel2Options($event)"
    />
    <mat-autocomplete
      #auto2="matAutocomplete"
      [displayWith]="displayFn"
      requireSelection="true"
    >
      @for ( unit of level2FilteredOptions(); track unit.id) {
      <mat-option [value]="unit">{{ unit.name }}</mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>CHRD</mat-label>
    <input
      matInput
      formControlName="CHRD"
      [matAutocomplete]="auto31"
      (input)="filterCHRDOptions($event)"
    />
    <mat-autocomplete
      #auto31="matAutocomplete"
      [displayWith]="displayFn"
      requireSelection="true"
    >
      @for ( unit of CHRDFilteredOptions(); track unit.id) {
      <mat-option [value]="unit">{{ unit.name }}</mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Commune</mat-label>
    <input
      matInput
      formControlName="level3"
      [matAutocomplete]="auto3"
      (input)="filterLevel3Options($event)"
    />
    <mat-autocomplete
      #auto3="matAutocomplete"
      [displayWith]="displayFn"
      requireSelection="true"
    >
      @for ( unit of level3FilteredOptions(); track unit.id) {
      <mat-option [value]="unit">{{ unit.name }}</mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>CSB</mat-label>
    <input
      matInput
      formControlName="CSB"
      [matAutocomplete]="auto5"
      (input)="filterCSBOptions($event)"
    />
    <mat-autocomplete
      #auto5="matAutocomplete"
      [displayWith]="displayFn"
      requireSelection="true"
    >
      @for ( unit of CSBFilteredOptions(); track unit.id) {
      <mat-option [value]="unit">{{ unit.name }}</mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Formation sanitaire</mat-label>
    <input
      matInput
      formControlName="level4"
      [matAutocomplete]="auto4"
      (input)="filterLevel4Options($event)"
    />
    <mat-autocomplete
      #auto4="matAutocomplete"
      [displayWith]="displayFn"
      requireSelection="true"
    >
      @for ( unit of level4FilteredOptions(); track unit.id) {
      <mat-option [value]="unit">{{ unit.name }}</mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Fokontany</mat-label>
    <input
      matInput
      formControlName="Fokontany"
      [matAutocomplete]="auto6"
      (input)="filterFokontanyOptions($event)"
    />
    <mat-autocomplete
      #auto6="matAutocomplete"
      [displayWith]="displayFn"
      requireSelection="true"
    >
      @for ( unit of FokontanyFilteredOptions(); track unit.id) {
      <mat-option [value]="unit">{{ unit.name }}</mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>

  <button type="submit" mat-raised-button>Submit</button>
</form>
