<form action="" [formGroup]="form">
  <mat-form-field>
    <mat-label>Level</mat-label>
    <mat-select formControlName="level">
      @for(level of levels$ | async; track level.id) {
      <mat-option [value]="level">
        {{ level.name }}
      </mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Level 2</mat-label>
    <input
      matInput
      formControlName="level2Filter"
      [matAutocomplete]="autoLevel2"
    />
    <mat-autocomplete
      #autoLevel2="matAutocomplete"
      (optionSelected)="onLevel2Selected($event)"
    >
      @for( unit of level2FilteredUnits$ | async; track unit.id) {
      <mat-option [value]="unit">
        {{ unit.name }}
      </mat-option>
      }
    </mat-autocomplete>
    @if(form.get('level2Unit')?.value) {<button
      mat-icon-button
      matSuffix
      (click)="clearSelection('level2')"
    >
      <mat-icon>clear</mat-icon></button
    >}
  </mat-form-field>

  <mat-form-field>
    <mat-label>Level 3</mat-label>
    <input
      matInput
      formControlName="level3Filter"
      [matAutocomplete]="autoLevel3"
    />
    <mat-autocomplete
      #autoLevel3="matAutocomplete"
      (optionSelected)="onLevel3Selected($event)"
    >
      @for( unit of level3FilteredUnits$ | async; track unit.id) {
      <mat-option [value]="unit">
        {{ unit.name }}
      </mat-option>
      }
    </mat-autocomplete>
    @if(form.get('level3Unit')?.value) {
    <button mat-icon-button matSuffix (click)="clearSelection('level3')">
      <mat-icon>clear</mat-icon></button
    >}
  </mat-form-field>

  <mat-form-field>
    <mat-label>Level 4</mat-label>
    <input
      matInput
      formControlName="level4Filter"
      [matAutocomplete]="autoLevel4"
    />
    <mat-autocomplete
      #autoLevel4="matAutocomplete"
      (optionSelected)="onLevel4Selected($event)"
    >
      @for(unit of level4FilteredUnits$ | async; track unit.id) {
      <mat-option [value]="unit">
        {{ unit.name }}
      </mat-option>
      }
    </mat-autocomplete>
    @if(form.get('level4Unit')?.value){<button
      mat-icon-button
      matSuffix
      (click)="clearSelection('level4')"
    >
      <mat-icon>clear</mat-icon></button
    >}
  </mat-form-field>
</form>
